<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="http://labfile.oss.aliyuncs.com/courses/923/week7/code/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    </head>
    <body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">首页</a>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li class="active"><a href="/">职位</a></li>
        <li class="active"><a href="/">公司</a></li>
       
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li><a href="/">公司注册</a></li>
        <li><a href="/">求职者注册 </a></li>
        <li><a href="/">登录</a></li>

    </ul>

    </div>






</div>
</nav>

<div class="container">
  {% block body %}{% endblock %}
  {% block footer %}
<div id="footer">
    <div class="wrapper">
        <div class="inner_wrapper">
            <a href="/" target="_blank" rel="nofollow">帮助中心</a>
            <a href="/" target="_blank" rel="nofollow">联系我们</a>
            <a href="/" target="_blank" rel="nofollow">招聘解决方案</a>
            <span class="tel">服务热线：<em>400-666-6666 (9:00 -18:00)</em></span>
        </div>
        <div class="copyright">
            <span><em>&copy;</em>2018 jobplus</span>
            <a target="_blank" href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action" rel="nofollow">京ICP备66666666号-2</a>
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=66666666666666" rel="nofollow">京公网安备 66666666666666号</a>
        </div>
    </div>
</div>

  {% endblock %}
</div>

    {% block tail_js %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="static/main.js"></script>
    {% endblock %}
    </body>    
</html>
